<% stylesheet_links <<  "tuftsification.css" %>
<% javascript_includes <<  "tuftsification.js" %>

<% metadata = Tufts::ModelMethods.get_metadata(@document_fedora) %>


  <div class="row">
    <div class="span12">
      <%= render :partial => 'shared/header_elements', :locals => {:metadata => metadata} %>
    </div>  <!-- span12 -->
  </div>  <!-- row -->

  <hr>

  <div class="row">
    <div class="span6">
      <%= raw Tufts::MediaPlayerMethods.show_audio_player(params[:id], true) %><br>
      <%
         participants = Tufts::MediaPlayerMethods.show_participants(@document_fedora)
         if participants.length > 0
      %>
            <br>
            <div class="participant_div">
              <b>Participants</b><br>
              <%= raw participants %>
            </div>  <!-- participant_div -->
      <% end %>
    </div>  <!-- span6 -->

    <div class="span6">
      <div class="tabbable">
        <ul class="nav nav-tabs">
          <li <%= raw params[:tab] != "2" ? " class=\"active\"" : "" %>><a id="tab1" href="/catalog/<%= params[:id] %>?tab=1">Information</a></li>
          <li <%= raw params[:tab] == "2" ? " class=\"active\"" : "" %>><a id="tab2" href="/catalog/<%= params[:id] %>?tab=2">Transcript</a></li>
        </ul>

        <div class="tab-content">
          <div class="tab-pane<%= params[:tab] != "2" ? " active" : "" %>" id="1">
            <%= render :partial => 'shared/metadata_pane', :locals => {:metadata => metadata} %>
          </div>  <!-- tab-pane 1 -->

          <div class="tab-pane<%= params[:tab] == "2" ? " active" : "" %>" id="2">
            <a href="/catalog/transcriptonly/<%= params[:id] %>" class="pull-right"><h6>view transcript only <i class="icon-share"></i></h6></a>
            <br>
            <div class="transcript_box">
              <%= raw Tufts::MediaPlayerMethods.show_transcript(@document_fedora, true) %>
              <script>
                  $('.transcript_chunk_link').on("click", function (e) {
                      e.preventDefault()
                      var t = $(e.currentTarget).data('time')
                      jumpPlayerTo(t);
                  });
              </script>
            </div>  <!-- transcript_box -->
          </div>  <!-- tab-pane 2 -->
        </div>  <!-- tab-content -->
      </div>  <!-- tabbable -->
    </div>  <!-- span6 -->
  </div>  <!-- row --> 
